div.content {
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
}
h1 a{
    color: black;
    text-decoration-line: none;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
    font-size: 80px;
    font-weight: 400;
}
b:first-child {
    color: deepskyblue;
    font-weight: normal
}
.top-menu {
    width: 1280px;
    background-color: #35444f;
    height: 66px;
    padding-top: 30px;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 50px;
}
.top-menu:first-child {
    padding-left: 5px}
.top-menu a {
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
    list-style: none;
    text-decoration-line: none;
    color: white;
    font-size: 25px;
    padding: 30px;
    }
.top-menu a:hover {
    background-color: #222f3a;
    color: white;
    text-decoration-line: none;
    font-size: 30px
}
ul>li {
    display: inline;
    text-decoration: none;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
    font-size: 24px;
    padding-left: 40px
}
.sidebar {
    font-size: 25px;
    border: 1px solid grey;
    display: inline-block;
    padding-left: 10px;
    width: 344px;
    height: 399px;
    line-height: 3em;
    }
nav>a {
    display: block;
    text-decoration: none;
    color: dimgrey;
}
nav>a:hover {
    background-color: lightgray; text-align: center;

}
.image img {width: 100%
}
.image {
    border: 1px solid grey;
    width: 320px;
    height: 381px;
    padding-left: 252px;
    padding-right: 272px;
    padding-top: 104px;
    padding-bottom: 104px;
    float: right;
}
.image img {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: all 1s ease-in-out;
}
.image>img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
p   {
    width: 850px;
    height: 114px;
    display: inline-block;
    float: right;
    align-content: center;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;;
    font-size: 20px;
}
.footer {
    background-color: rgba(137, 137, 137, 0.33);
    margin-top: 30px;
    padding: 30px;
    text-align: left;
}
.footer li a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding-left: 5px;
}
.footer li a:hover {
    color: dodgerblue;
    text-decoration-color: dodgerblue;
    text-decoration-line: underline
}
.footer li:last-child {text-align: right; padding-left: 80px}
.clear {
    clear: both
}