div.content {
    width: 1280px;
    margin: 0 auto;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
}

h1 a{
    color: black;
    text-decoration-line: none;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
    font-size: 80px;
    font-weight: 400;
}

b:first-child {
    color: deepskyblue;
    font-weight: normal
}

.top-menu {
    padding: 0px 60px 0px 70px;
    background-color: #35444f;
    height: 63px;
    padding-top: 30px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

.top-menu a {
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
    list-style: none;
    text-decoration-line: none;
    color: white;
    font-size: 25px;
    padding: 30px;
}

.top-menu a:hover {
    background-color: #222f3a;
    height: 68px;
    color: white;
    text-decoration-line: none;
    font-size: 25px
}

.top-menu li {
    display: inline;
    text-decoration: none;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;
    font-size: 24px;
    padding-left: 40px
}

.sidebar {
    font-size: 25px;
    border: 1px solid grey;
    display: inline-block;
    width: 344px;
    height: 399px;
    line-height: 3em;
}

.sidebar a {
    color: dimgrey;
    text-decoration: none;
}

.sidebar>ul>li {
    padding-left: 30px;
}

.sidebar>ul>li:hover { text-align: center;
    background-color: lightgray;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.image img {
    width: 100%
}

.image {
    border: 1px solid grey;
    width: 320px;
    height: 381px;
    padding: 104px 282px 104px 282px;
    float: right;
}

.image img {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: all 1s ease-in-out;
}

.image>img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

p   {
    width: 850px;
    height: 114px;
    display: inline-block;
    float: right;
    align-content: center;
    font-family: Roboto, Arial, Myriad Pro, sans-serif;;
    font-size: 20px;
}

.footer {list-style: none;
    background-color: rgba(137, 137, 137, 0.33);
    margin-top: 15px;
    padding: 30px;
}

.footer li {
    display: inline-block
}
.footer li a{
    color: black;
    text-decoration-line: none;
    font-size: 25px;
    padding-left: 30px;
}

.footer li a:hover {
    color: dodgerblue;
    text-decoration-color: dodgerblue;
    text-decoration-line: underline
}

.footer li:last-child {
    text-align: right;
    padding-left: 80px
}

.clear {
    clear: both
}